@import "../../assets/sass/config";

.about {
  margin-bottom: 75px;

  &-me {
    margin-bottom: 35px;

    p {
      color: $primary;
      text-align: center;
      width: 80%;
      margin: 0 auto;
      font-size: 25px;
      line-height: 30px;
    }
  }

  &-skills {
    margin-bottom: 45px;
  }
}
